@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/knight-warrior");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.clip-trapezium {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}
.marquee {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
  color: white;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
/* .navbar {
  background: rgba(255, 255, 255, 0.07);
  color: white;
  display: flex;
  max-width: 1000px; 
  width: 100%; 
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto; 
  padding: 30px 40px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
} */
.navbar {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width: 400px) {
  .navbar {
    width: 90vw;
  }
}

.stelinovas-logo-text {
  color: #c0aaff;
  font-family: "KNIGHT WARRIOR";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 50.4px */
}
@media screen and (max-width: 400px) {
  .stelinovas-logo-text {
    font-size: 18px;
  }
}

.navbar-btn {
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  background: var(
    --Linear,
    linear-gradient(90deg, #6254ff 35.28%, #756bed 50%)
  );
  font-family: Loaded;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 36.4px */
}

/* MEET COMPONENT */
.left-div,
.right-div {
  display: flex;
  width: 33%;
  height: 120vh;
  justify-content: center;
  padding-top: 50vh;
  z-index: 1;
}
.center-div {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 120vh;
  justify-content: center;
  padding-top: 25vh;
  align-items: center;
  z-index: 1;
}
.coin-input-container {
  position: relative;
}
.coin-input {
  width: 547px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--Linear, #6254ff);
  background: rgba(164, 119, 249, 0.1);
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-left: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.gold-coin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.wallet-btn {
  width: 547px;
  height: 71px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(
    --Linear,
    linear-gradient(90deg, #6254ff 35.28%, #756bed 50%)
  );
  color: white;
  font-size: 19px;
  margin-top: 10px;
}
.download-btn {
  width: 547px;
  height: 79px;
  flex-shrink: 0;
  border-color: #6254ff;
  border-width: 2px;
  border-radius: 10px;
  color: white;
  font-size: 19px;
  margin-top: 10px;
}
.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.overlay {
  position: absolute;
  top: 200px; /* Adjust top position slightly below top */
  right: 400px; /* Adjust right position close to the edge */
  z-index: 0; /* Place overlay image above background but below text */
}
@media screen and (max-width: 600px) {
  .coin-input {
    width: 300px;
    height: 50px;
    font-size: 15px;
  }
  .wallet-btn {
    width: 300px;
    height: 50px;
    font-size: 14px;
  }
  .download-btn {
    width: 300px;
    height: 50px;
    font-size: 14px;
  }
}
/* ABOUT COMPONENT */
.about-container {
  background-color: #0f053b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-coin,
.about-text {
  position: absolute;
}
.about-text {
  width: 40vw;
}

/* ROADMAP COMPONENT */

/* FEATURES COMPONENT */
.features-container {
  height: auto;
  background-color: #0f053b;
}

/* PARTNERS COMPONENT */
.partners-container {
  height: 100vh;
  background-color: #0f053b;
}

/* PRODUCTS COMPONENT */

.product-card {
  width: 352px;
  height: 415px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(25, 11, 55, 0.6);
}
.product-btn {
  display: flex;
  width: 320px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #8f68ff;
}
.product-btn-text {
  color: #8f68ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/* CONTACT COMPONENT */
.contact-container {
  height: 100vh;
  background-color: #0f053b;
  margin-top: 450px;
}
.contact-box {
  height: 176px;
  width: 1100px;
  background-color: rgba(217, 217, 217, 0.1);
}
.input-container {
  position: relative; /* Allow for absolute positioning of the button */
  display: inline-block; /* Ensure container doesn't expand to full width */
}

.input-container input {
  border: 1px solid #ccc; /* Create the appearance of the input box */
  border-radius: 5px;
  padding: 10px;
  height: 70px; /* Expand the input to fill the container */
  background-color: rgba(217, 217, 217, 0.2);
}

.input-container button {
  position: absolute; /* Position independently within the container */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the button */
  right: 10px; /* Adjust for spacing */
  border: none; /* Remove default button border */
  background-color: #a88aff; /* Make button background invisible */
  border-radius: 7px;
  padding: 5px;
}

/* LOGIN PAGE */
.login-container {
  height: 150vh;
  background-color: #0f053b;
  padding-top: 10vh;
}
.input-container {
  position: relative;
}
.email-input {
  width: 547px;
  height: 75px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 2px solid var(--Linear, #6254ff);
  background: rgba(164, 119, 249, 0.1);
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  padding-left: 60px;
}
.passwd-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

/* SIGNUP PAGE */
.signup-container {
  height: 170vh;
  background-color: #0f053b;
  padding-top: 10vh;
}
